
.todo-list {
	margin: 20px auto;
	div {
		line-height: 30px;
	}
	.completed {
		color: #999;
		text-decoration: line-through;
	}
	.uncompleted {
		color: #000;
	}
}



.filters {
	a,
	span {
		margin-right: 10px;
	}
}